.feature-content-default {
  .feature-content-default-image {
    img {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      -webkit-box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.35);
      box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.35);
      z-index: 1;
      -webkit-animation: wrep 10s infinite linear;
      animation: wrep 10s infinite linear;
      width: 100%;
      max-width: unset;

      @keyframes wrep {
        0% {
          border-radius: 55% 45% 38% 62% / 52% 57% 43% 48%;
        }
        35% {
          border-radius: 67% 33% 39% 61% / 48% 63% 37% 52%;
        }
        70% {
          border-radius: 40% 60% 62% 38% / 32% 41% 59% 68%;
        }
        100% {
          border-radius: 55% 45% 38% 62% / 52% 57% 43% 48%;
        }
      }
    }
  }

  .span-outer-txt{
    
  }
}
