.navbar {
  padding: 1rem 1rem;
  .logo {
    width: 10rem;
    height: 10rem;
  }

  .navbar-main {
    height: 100%;

    ul {
      height: 100%;
      align-items: center;
      justify-content: center;
      padding: 0 4rem;

      li {
        a {
          display: inline-block;
          padding: 4rem 2rem;
          font-size: 1.6rem;
          font-weight: 400;
          color: $quartz;

          &:hover {
            color: $heat-wave;
          }
        }
      }
    }
  }

  .navbar-right {
    height: 100%;
    ul {
      height: 100%;
      align-items: center;
      li {
        a {
          padding: 1rem 1rem;
          font-size: 1.6rem;
          border: 1px solid $heat-wave;
          margin: 0 1rem;

          i {
            color: $heat-wave;
          }
        }

        .custom-round {
          &:hover {
            border-radius: 50%;
            background: $heat-wave;
            transition: 0.5s;

            i {
              color: $white;
            }
          }
        }
      }
    }
  }
  &::after {
    position: absolute;
    width: 99%;
    height: 1px;
    background: $old-gold;
    content: "";
    opacity: 0.2;
  }
}

.right-content-details {
  height: 100vh;
  width: 100%;
  position: relative;
  right: 0;

  .right-content-header {
    position: absolute;
    right: 0;
    transform: translatex(100%);
    border: 1px solid black;
    height:100vh;
    top:-21%;
    display: none;
    overflow: hidden;
    transition: 0.8s;
  }
}
