.navigation-section {
  padding: 1rem 1rem;
  position: relative;
  .logo {
    width: 10rem;
    height: 10rem;
  }

  .navbar-main {
    height: 100%;

    ul {
      height: 100%;
      align-items: center;
      justify-content: center;
      padding: 0 4rem;

      li {
        a {
          display: inline-block;
          padding: 4rem 2rem;
          font-size: 1.6rem;
          font-weight: 400;
          color: $quartz;

          &:hover {
            color: $heat-wave;
          }
        }
      }
    }
  }

  .navbar-right {
    height: 100%;
    ul {
      height: 100%;
      align-items: center;
      li {
        a {
          padding: 1rem 1rem;
          font-size: 1.6rem;
          border: 1px solid $heat-wave;
          margin: 0 1rem;

          i {
            color: $heat-wave;
          }
        }

        .custom-round {
          &:hover {
            border-radius: 50%;
            background: $heat-wave;
            transition: 0.5s;

            i {
              color: $white;
            }
          }
        }
      }
    }
  }
  &::after {
    position: absolute;
    width: 99%;
    height: 1px;
    background: $old-gold;
    content: "";
    opacity: 0.2;
    bottom: 0;
  }
}

.right-content-details {
  height: 0;
  width: 100%;
  position: relative;
  right: 0;
  top:0;

  .right-content-header {
     background: #ffffff;
    position: relative;
    transform: translatex(100%);
    border: 1px solid #fb7a00;
    top: -120px;
    display: none;
    overflow: hidden;
    left: 92%;
    width: 100%;
    max-width: 500px;

    .right-contet-header-sub {
      justify-content: space-around;
      align-items: center;

      &::after {
        position: absolute;
        top: 50px;
        width: 100%;
        height: 1px;
        background: $quartz;
        opacity: 0.5;
        content: "";
      }

      .logo {
        width: 5rem;
        height: 5rem;
      }

      .close {
        position: relative;
        i {
          font-size: 1.8rem;
          color: $heat-wave;
          cursor: pointer;
          font-weight: 800;
        }

        &::after {
          position: absolute;
          width: 4rem;
          height: 4rem;
          background: $white;
          content: "";
          top: -12px;
          left: -14px;
          border-radius: 50%;
          z-index: -1;
        }
      }
    }
    .headr-right-main-sub {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;

     
      .right-header-details-pages {
        padding: 3rem 2rem;
        width: 50%;

        .image {
          border: 1px solid black;
          display: block;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .header-btn {
          text-align: center;
          padding: 2rem;
          background: $white;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

          a {
            font-size: 1.8rem;
            color: $heat-wave;
          }

          &:hover {
            background: $heat-wave;
            transition: 0.5s;

            a {
              color: $white;
            }
          }
        }
      }
    }
  }
}
