// color
$heat-wave: #fb7a00;
$quartz: #4a4a4a;
$amber: #ff7c00;
$black: #333333;
$muddy-brown: #886a03;
$leaf: #88a32a;
$shocking-orange: #f0573c;
$sapphire-blue: #3454d1;
$old-gold: #d1ad34;
$elephant: #0d3642;
$white: #ffffff;
$antique-white: #feebd8;
$smoky-black:#0E0E0E;
$platinum:#DEE2E6;
