.vertical-slider-main {
  background: $gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  height: 100vh;
  .review-section {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .review-title {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 0 0 1rem;
      h4 {
        font-size: 1.7rem;
        font-weight: 700;
        padding: 0rem 0.5rem;
      }

      h5 {
        font-size: 1.7rem;
      }

      .reivew-logo {
        i {
          font-size: 3rem;
          position: relative;
          z-index: 1;
          color: $white;
          font-weight: 600;

          &::after {
            position: absolute;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            background: $shocking-orange;
            content: "";
            left: -10px;
            top: -10px;
            z-index: -1;
          }
        }
      }
      .review-counter {
        display: flex;
        padding: 0rem 2rem;
      }
    }

    .review-heading {
      padding: 2rem 0;
      h2 {
        font-size: 3rem;
      }
    }

    .review-para {
      padding: 1rem 0;
      p {
        font-size: 1.6rem;
      }
    }
  }

  .custom-vertical-slider {
    width: 100%;
    height: 400px;
    .swiper-wrapper {
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        .vertical-slide-details-main {
          padding: 0 4rem;
          .vertical-slide-review {
            display: flex;
            justify-content: center;
            span {
              i {
                color: $heat-wave;
              }
            }
          }
        }

        .review-txt {
          padding: 1rem 0;
          .review-para {
            padding: 2rem 0;
            p {
              text-align: center;
              font-size: 1.4rem;
              font-weight: 700;
            }
          }
        }

        .review-image {
          display: flex;
          justify-content: center;
          align-items: center;
          .verticle-slider-image {
            width: 5rem;
            height: 5rem;
          }

          .vertical-person {
            padding: 0rem 1rem;
          }
        }
      }
    }
  }
}
