* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Helvetica Neue;
  src: url(/fonts/icofont.ttf);
}
.h1-heading {
  font-size: 6rem;
  font-weight: 700;
  line-height: 7.2rem;
  color: #333333;
}

.h2-heading {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.9rem;
  color: #333333;
}

.h3-heading {
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: #ffffff;
  font-weight: 600;
}

.bg-color-review {
  background: #ff7c00;
}

.first-lvl-nav {
  padding: 2rem 1rem;
  background: #feebd8;
}
.first-lvl-nav .header-left-text ul {
  align-items: center;
}
.first-lvl-nav .header-left-text ul li {
  padding: 0 1rem;
}
.first-lvl-nav .header-left-text ul li i {
  color: #4a4a4a;
  font-size: 1.6rem;
}
.first-lvl-nav .header-left-text ul li a {
  font-size: 1.5rem;
  color: #4a4a4a;
  padding: 0 1rem;
  display: inline-block;
}
.first-lvl-nav .header-left-text ul li:hover i,
.first-lvl-nav .header-left-text ul li:hover a {
  color: #fb7a00;
  transition: 0.5s;
}
.first-lvl-nav .header-right-text ul {
  justify-content: flex-end;
}
.first-lvl-nav .header-right-text ul li {
  padding: 0 1rem;
}
.first-lvl-nav .header-right-text ul li a i {
  font-size: 1.6rem;
  color: #ffffff;
  position: relative;
  z-index: 1;
  transition: 0.5s;
}
.first-lvl-nav .header-right-text ul li a i::after {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  background: #fb7a00;
  content: "";
  display: block;
  top: -4px;
  z-index: -1;
  right: -6px;
}
.first-lvl-nav .header-right-text ul li a i:hover {
  color: #fb7a00;
}
.first-lvl-nav .header-right-text ul li a i:hover::after {
  background: #ffffff;
}

.navigation-section {
  padding: 1rem 1rem;
  position: relative;
}
.navigation-section .logo {
  width: 10rem;
  height: 10rem;
}
.navigation-section .navbar-main {
  height: 100%;
}
.navigation-section .navbar-main ul {
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
}
.navigation-section .navbar-main ul li a {
  display: inline-block;
  padding: 4rem 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #4a4a4a;
}
.navigation-section .navbar-main ul li a:hover {
  color: #fb7a00;
}
.navigation-section .navbar-right {
  height: 100%;
}
.navigation-section .navbar-right ul {
  height: 100%;
  align-items: center;
}
.navigation-section .navbar-right ul li a {
  padding: 1rem 1rem;
  font-size: 1.6rem;
  border: 1px solid #fb7a00;
  margin: 0 1rem;
}
.navigation-section .navbar-right ul li a i {
  color: #fb7a00;
}
.navigation-section .navbar-right ul li .custom-round:hover {
  border-radius: 50%;
  background: #fb7a00;
  transition: 0.5s;
}
.navigation-section .navbar-right ul li .custom-round:hover i {
  color: #ffffff;
}
.navigation-section::after {
  position: absolute;
  width: 99%;
  height: 1px;
  background: #d1ad34;
  content: "";
  opacity: 0.2;
  bottom: 0;
}

.right-content-details {
  height: 0;
  width: 100%;
  position: relative;
  right: 0;
  top: 0;
}
.right-content-details .right-content-header {
  background: #ffffff;
  position: relative;
  transform: translatex(100%);
  border: 1px solid #fb7a00;
  top: -120px;
  display: none;
  overflow: hidden;
  left: 92%;
  width: 100%;
  max-width: 500px;
}
.right-content-details .right-content-header .right-contet-header-sub {
  justify-content: space-around;
  align-items: center;
}
.right-content-details .right-content-header .right-contet-header-sub::after {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 1px;
  background: #4a4a4a;
  opacity: 0.5;
  content: "";
}
.right-content-details .right-content-header .right-contet-header-sub .logo {
  width: 5rem;
  height: 5rem;
}
.right-content-details .right-content-header .right-contet-header-sub .close {
  position: relative;
}
.right-content-details .right-content-header .right-contet-header-sub .close i {
  font-size: 1.8rem;
  color: #fb7a00;
  cursor: pointer;
  font-weight: 800;
}
.right-content-details .right-content-header .right-contet-header-sub .close::after {
  position: absolute;
  width: 4rem;
  height: 4rem;
  background: #ffffff;
  content: "";
  top: -12px;
  left: -14px;
  border-radius: 50%;
  z-index: -1;
}
.right-content-details .right-content-header .headr-right-main-sub {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.right-content-details .right-content-header .headr-right-main-sub .right-header-details-pages {
  padding: 3rem 2rem;
  width: 50%;
}
.right-content-details .right-content-header .headr-right-main-sub .right-header-details-pages .image {
  border: 1px solid black;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.right-content-details .right-content-header .headr-right-main-sub .right-header-details-pages .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.right-content-details .right-content-header .headr-right-main-sub .right-header-details-pages .header-btn {
  text-align: center;
  padding: 2rem;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.right-content-details .right-content-header .headr-right-main-sub .right-header-details-pages .header-btn a {
  font-size: 1.8rem;
  color: #fb7a00;
}
.right-content-details .right-content-header .headr-right-main-sub .right-header-details-pages .header-btn:hover {
  background: #fb7a00;
  transition: 0.5s;
}
.right-content-details .right-content-header .headr-right-main-sub .right-header-details-pages .header-btn:hover a {
  color: #ffffff;
}

.banner {
  padding: 4rem 0;
}
.banner .banner-header {
  padding: 7rem 1rem;
  position: relative;
}
.banner .banner-header h1 {
  padding: 2rem 0;
}
.banner .banner-header p {
  padding: 1rem 0;
  font-size: 1.8rem;
  width: 80%;
}
.banner .banner-header .banner-link {
  padding: 8rem 0;
}
.banner .banner-header .banner-link .bg-link-banner {
  padding: 2rem 4rem;
  background: #fb7a00;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.6rem;
  margin: 0 4rem 0 0;
  position: relative;
}
.banner .banner-header .banner-link .bg-link-banner::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0;
  padding: 3rem 8rem;
  border: 1px solid #fb7a00;
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
}
.banner .banner-header .banner-link .bg-link-banner:hover::after {
  opacity: 1;
  top: -10px;
  right: -10px;
}
.banner .banner-header .banner-link i {
  padding: 5px 0 0 9px;
  color: #fb7a00;
  font-size: 2.6rem;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}
.banner .banner-header .banner-link i::after {
  top: -12px;
  padding: 3rem 3rem;
  border: 1px solid #fb7a00;
  content: "";
  position: absolute;
  left: -12px;
  z-index: -1;
  transition: 0.5s;
}
.banner .banner-header .banner-link i:hover::after {
  border-radius: 50%;
}
.banner .banner-header .banner-link .video-link {
  margin: 0 0 0 4rem;
  font-size: 1.6rem;
  color: #333333;
}
.banner .banner-header .video {
  transition: 0.5s;
  position: absolute;
  top: 0%;
  left: 200px;
  background: #ffffff;
  display: none;
  left: 33%;
}
.banner .banner-header .video .closevideo {
  position: absolute;
  right: 0;
  top: -20px;
}
.banner .banner-header .video .closevideo i {
  font-size: 2rem;
  color: #fb7a00;
}

.feature-content-video {
  position: relative;
}
.feature-content-video .video-title-icon {
  position: relative;
  background: #0d3642;
  height: 50rem;
}
.feature-content-video .video-title-icon .video-icon {
  width: 100%;
  display: flex;
  padding: 4rem;
}
.feature-content-video .video-title-icon .video-icon i {
  color: #ffffff;
  font-size: 2rem;
  position: relative;
  z-index: 1;
  top: 19px;
}
.feature-content-video .video-title-icon .video-icon i::after {
  width: 4rem;
  height: 4rem;
  background: #fb7a00;
  position: absolute;
  content: "";
  z-index: -1;
  left: -12px;
  top: -10px;
  animation: pulse 2s ease-out infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    filter: opacity(0.9);
  }
  100% {
    transform: scale(2);
    filter: opacity(0);
  }
}
.feature-content-video h2 {
  padding: 0 4rem;
  color: #ffffff;
  font-weight: 400;
}
.feature-content-video .feature-text {
  background: #ffffff;
  margin: auto;
  width: 80%;
  position: absolute;
  top: 40%;
  left: 10%;
  padding: 8rem 0;
}
.feature-content-video .feature-text h2 {
  color: #333333;
  font-weight: 700;
}
.feature-content-video .feature-text p {
  font-size: 1.8rem;
  font-weight: 300;
  padding: 1rem 4rem;
}
.feature-content-video .feature-text img {
  width: 10rem;
  height: 10rem;
  margin: 2rem 4rem;
}
.feature-content-video .feature-text h4 {
  padding: 0 4rem;
  font-size: 1.9rem;
  font-weight: 200;
}
.feature-content-video .feature-text span {
  padding: 0 4rem;
  display: inline-block;
  font-size: 1.2rem;
}
.feature-content-video .feature-text .feature-image {
  width: 100%;
  height: 100%;
}
.feature-content-video .feature-text .feature-image img {
  width: 100%;
  height: 100%;
}
.feature-content-video .feature-video-pop {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 20%;
  display: none;
  left: 50%;
  max-width: 900px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.feature-content-video .feature-video-pop iframe {
  position: absolute;
  width: 80%;
  margin: auto;
  left: 10%;
  height: 100%;
  top: 74px;
}
.feature-content-video .feature-video-pop .closeicon {
  position: absolute;
  right: 10%;
  top: 10%;
}
.feature-content-video .feature-video-pop .closeicon i {
  font-size: 2rem;
  color: #ffffff;
}

.feature-content-default .feature-content-default-image img {
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.35);
  z-index: 1;
  animation: wrep 10s infinite linear;
  width: 100%;
  max-width: unset;
}
@keyframes wrep {
  0% {
    border-radius: 55% 45% 38% 62%/52% 57% 43% 48%;
  }
  35% {
    border-radius: 67% 33% 39% 61%/48% 63% 37% 52%;
  }
  70% {
    border-radius: 40% 60% 62% 38%/32% 41% 59% 68%;
  }
  100% {
    border-radius: 55% 45% 38% 62%/52% 57% 43% 48%;
  }
}
.vertical-slider-main {
  background: #FBFBFC;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  height: 100vh;
}
.vertical-slider-main .review-section {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.vertical-slider-main .review-section .review-title {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 0 1rem;
}
.vertical-slider-main .review-section .review-title h4 {
  font-size: 1.7rem;
  font-weight: 700;
  padding: 0rem 0.5rem;
}
.vertical-slider-main .review-section .review-title h5 {
  font-size: 1.7rem;
}
.vertical-slider-main .review-section .review-title .reivew-logo i {
  font-size: 3rem;
  position: relative;
  z-index: 1;
  color: #ffffff;
  font-weight: 600;
}
.vertical-slider-main .review-section .review-title .reivew-logo i::after {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: #f0573c;
  content: "";
  left: -10px;
  top: -10px;
  z-index: -1;
}
.vertical-slider-main .review-section .review-title .review-counter {
  display: flex;
  padding: 0rem 2rem;
}
.vertical-slider-main .review-section .review-heading {
  padding: 2rem 0;
}
.vertical-slider-main .review-section .review-heading h2 {
  font-size: 3rem;
}
.vertical-slider-main .review-section .review-para {
  padding: 1rem 0;
}
.vertical-slider-main .review-section .review-para p {
  font-size: 1.6rem;
}
.vertical-slider-main .custom-vertical-slider {
  width: 100%;
  height: 400px;
}
.vertical-slider-main .custom-vertical-slider .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertical-slider-main .custom-vertical-slider .swiper-wrapper .swiper-slide .vertical-slide-details-main {
  padding: 0 4rem;
}
.vertical-slider-main .custom-vertical-slider .swiper-wrapper .swiper-slide .vertical-slide-details-main .vertical-slide-review {
  display: flex;
  justify-content: center;
}
.vertical-slider-main .custom-vertical-slider .swiper-wrapper .swiper-slide .vertical-slide-details-main .vertical-slide-review span i {
  color: #fb7a00;
}
.vertical-slider-main .custom-vertical-slider .swiper-wrapper .swiper-slide .review-txt {
  padding: 1rem 0;
}
.vertical-slider-main .custom-vertical-slider .swiper-wrapper .swiper-slide .review-txt .review-para {
  padding: 2rem 0;
}
.vertical-slider-main .custom-vertical-slider .swiper-wrapper .swiper-slide .review-txt .review-para p {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}
.vertical-slider-main .custom-vertical-slider .swiper-wrapper .swiper-slide .review-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertical-slider-main .custom-vertical-slider .swiper-wrapper .swiper-slide .review-image .verticle-slider-image {
  width: 5rem;
  height: 5rem;
}
.vertical-slider-main .custom-vertical-slider .swiper-wrapper .swiper-slide .review-image .vertical-person {
  padding: 0rem 1rem;
}/*# sourceMappingURL=main.css.map */